.container
  .row#header
    .col-md-2
      %img(ng-src='/logo.png')
    .col-md-8
      %h3#header-title.text-center {{ 'APP_NAME' | translate }}
    .col-md-2
      .text-center(ng-if='user.signedIn') 
        %i.fa.fa-sign-out.fa-2x#logout(ng-click='signOut()')