%form#update_task(ng-submit='tasks.update(project, task, { title: TaskForm.title.$modelValue })' name='TaskForm' novalidate)
  .form-group(ng-init= 'beforeEdit = task')
    %input.form-control.text-input{'ng-model':'editTask.title', required:'', name:'title', placeholder:"Enter task name", autofocus:'', 'ng-value': 'task.title'}
  .pre-form
    %hr
    %div(ng-if="TaskForm.$valid")
      %button.btn.form-btn-green(type='submit' ng-click="disableEdit()") Save
      %a.btn.form-btn-white#cancel(ng-click="cancel()") Cancel