%script{:id => "edit_task.html", :type => "text/ng-template"}
  .modal-header
    %h3#modal-title.modal-title {{ 'UPDATE_TASK' | translate }}
  #modal-body.modal-body
    %form#update_task(ng-submit='update(editTaskForm)' ng-init="editTaskForm = {}")
      %div.form-group
        %input.form-control(ng_model='editTaskForm.title' required='' placeholder='Enter name for task' name='title')
      %div.form-group
        %input.form-control.well.well-sm( uib-datepicker-popup ng_model='editTaskForm.deadline' type="date" datepicker-options="")
      %button.btn.btn-primary(type='submit') {{ 'UPDATE_TASK' | translate }}