$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/css/font-awesome.css";

body {
	background-image: url(/assets/bg.jpg);
}

a {
  text-decoration: none !important;
}

.row.well {
  margin-top: 2%;
}

.logout {
  position:absolute;
  top:5px;
  right:5px;
  margin:0;
  padding:5px 3px;
}

.row.project {
  background-color: #4371ae;
  padding: 15px 10px 10px 10px;
  margin: 0px;
}
.icon-top {
  padding-top: 9px;
}
.col-md-1.first {
  width: 3%;
}
.col-md-9.second {
  width: 89%;
}

.prod_title {
  color:white; 
  font-size: 17px; 
}

.one-colons {
  border-right: 1px solid gray;
  padding-right: 10px;
}

.grey-blue {
  color: #99b1d3;
}

.icon-plus {
  font-size: 24px;
  color: #589071;
}

.task_form {
  padding-right: 0px;
}

.create_task {
  padding: 4% 10% 10% 11%;;
  background: #6ca384;
  border: 2px solid #52896a;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.row.task {
  background-color: #d4d4d4;
  padding: 15px 10px 10px 10px;
  margin: 0px;
}

#task_title {
  width: 100%;
  padding: 5px;
}

.grey {
  color: grey;
}

.colons {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.icons-task {
  padding-left: 10px;
  padding-right: 10px;
}