$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/css/font-awesome.css";
@import "angularjs-bootstrap-datetimepicker/src/css/datetimepicker.css";

#header {
  background-color: #e0e6f2; 
}

#header-title {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

#content {
  height: 100vh;
  background-color: white;
}

body {
  background-color: #c2c2c2;
}

.form-control {
  border-radius: 1px;
  box-shadow: none;
}

.form-btn {
  color: white;
  border: 1px solid #2A9FD8;
  background-color: #5ba7ec;
}

.form-btn-green {
  color: white;
  border: 1px solid #79bf94;
  background-color: #79bf94;
}

.form-btn-white {
  background-color: white;
  color: gray;
}

.title {
  font-weight: bold;
  color: black;
}

.text-input {
  color: #b0b0b0;
}

.pre-form {
  padding-top: 2%;
  padding-bottom: 5%;
}

#form-content {
  padding: 5%;
}

.warning {
  display: -webkit-inline-box;
  color: red;
}

.success {
  background-color: #bbeacd; 
  font-family: sans-serif;
  padding-left: 4%;
  padding-bottom: 1%;
  padding-top: 3%;
  border-radius: 3%;
  color: #5c886d;
}

.has-error .form-control {
  border-color: red;
}

//.has-error .form-control:hover {
  //border-color: red;
//}        

#logout {
  color: #83888e;
  padding: 15%;
}

.panel-default > .panel-heading {
  width: 100%;
  background-color: white; 
  display: -webkit-box;
  color: #939393;
}

.panel-heading.active {
  background-color: #e0e6f2;
}

.panel-heading.hovered {
  background-color: #efeeee;
}

li.list-group-item.hovered {
  background-color: #efeeee;
}

.panel-footer {
  background-color: white;
}

.arrow {
  color: #828282;
  font-size: 80%;
}

input[type='checkbox'] {
  margin-top: -30px;
}

input[type='checkbox'] {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
}

input[type='checkbox']:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  position: absolute;
  cursor: pointer;
  height: 13px;
  width: 13px;
  left: 0;
  top: 0;
  font-size: 10px;
  border: 1px groove #9c9c9c;
  border-radius: 5px;
  background: #fff;
}

input[type='checkbox']:checked:hover:after {
  background: #fff;
  content: '\2714';
  color: black;
}

input[type='checkbox']:checked:after {
  background: #fff;
  content: '\2714';
  color: black;
}

.clinch {
  color: grey;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  padding-top: 8%;
}  

.time_comment {
  color: #a0a0a0;
  display: inline;
  font-size: 12px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.checked {
  text-decoration: line-through;
}

#file_input {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  padding-top: 8%;
  opacity: 0;
}