%app-header
.container     
  .row#content
    .col-sm-4.col-sm-offset-4#form-content
      .pre-form
        %h3.text-left.title Sign Up
        %div.warning{"ng-messages": "registrationForm.username.$error", "ng-if": "registrationForm.$submitted || registrationForm.username.$dirty "}
          %div{"ng-message" => "required"} 
            %i.fa.fa-exclamation-circle The field is required.
          %div{"ng-message" => "minlength"} 
            %i.fa.fa-exclamation-circle Username is too short. Minimum 3 characters.
          %div{"ng-message" => "maxlength"} 
            %i.fa.fa-exclamation-circle Username is too long. Maximum 50 characters.
        %div.warning{"ng-messages": "registrationForm.password.$error", "ng-if": "registrationForm.$submitted || registrationForm.password.$dirty"}
          %div{"ng-message" => "required, minlength, maxlength, pattern"} 
            %i.fa.fa-exclamation-circle Password does not meet minimal requirements. The length should be 8 characters, alphanumeric.
        %div.warning{"ng-messages": "registrationForm.password_confirmation.$error", "ng-if": "registrationForm.$submitted || registrationForm.password_confirmation.$dirty"}
          %div{"ng-message" => "pattern"} 
            %i.fa.fa-exclamation-circle Password and Confirm password fields doesn’t match.
        %flash-message
      %form#sign_up(ng-submit='users.create(registrationForm)' name='registrationForm' novalidate)
        .form-group{"ng-class": "{'has-error': registrationForm.username.$touched && registrationForm.username.$invalid}"}
          %input.form-control.text-input{'ng-model':'users.registrationForm.username', required:'', name:'username', placeholder:"user name", 'ng-minlength': 3, 'ng-maxlength': 50, autofocus:''}
        .form-group{"ng-class": "{'has-error': registrationForm.password.$touched && registrationForm.password.$invalid }"}
          %input.form-control.text-input{'ng-model':'users.registrationForm.password', required:'', name:'password', placeholder:"password", 'ng-minlength': 8, 'ng-maxlength': 8, "ng-pattern": "/^[a-zA-Z0-9]+$/", type: "password" }
        .form-group{"ng-class": "{'has-error': registrationForm.password_confirmation.$touched && registrationForm.password_confirmation.$invalid}"}
          %input.form-control.text-input{'ng-model':'users.registrationForm.password_confirmation', required:'', name:'password_confirmation', placeholder:"confirm password", "ng-pattern":"{{users.registrationForm.password}}", type: "password" }
        .pre-form
          %button.btn.form-btn(type='submit') Sign Up
      Already a member? 
      %a(ui-sref='sign_in') Sign In