%script{:id => "project_delete.html", :type => "text/ng-template"}
.modal-header
  %button(type="button" class="close" ng-click="$dismiss()") &times;
  %h3#modal-title.modal-title Delete project
#modal-body.modal-body
  %p.text-left Do you really want to delete "{{ project.title }}"?
.modal-footer
  %button.btn.form-btn(ng-click="ok()") Delete
  %button.btn.form-btn-white(ng-click="cancel()") Cancel